*{
  margin: 0px;
  padding: 0px;
}
#page{
  padding: 10px;
  display: grid;
  justify-items: center;
  border: red 1px solid;
}

#cardfield{
  display: inline-grid;
  border: 5px solid #000;
  margin-right: 10%;
  margin-left: 10%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  padding: 1%;
  width: 700px;
  height: 700px;

}

.cardinstance{
  width: 90%;
  height: 90%;
  border: lightsalmon 5px solid;
  border-radius: 5%;
  display:grid;
}

.card{
  padding: 0px;
  margin: 0px;
  display:grid;
}

.cardhead{
  margin: 0px;
  padding: 0px;
  height:25px;
  background-color: lightsalmon;
}

.cardface{
  text-align: center;
  display: none;
  padding: 5%;
}

.cardback{
  text-align: center;
  font-size: 30px;
}

#ui{
  display: grid;
  grid-template-columns: repeat(3,33%);
  border: black 1px solid;
  justify-self: stretch;
}

#score{
  display:grid;
  display: inline;
  justify-self: center;
  border: red 1px solid;
}
#score_num{
  justify-self: center;
  align-self: center;
}
